<% javascript 'jquery-dynamic-selectable.js' %>
<% javascript 'rows.js' %>

<div class="row">
  <div class="col-md-12">
    <div class="widget stacked">
      <div class="widget-header">
        <h3>New Project/Task for week <%= @row.stored_at.cweek %></h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <%= simple_form_for @row, html: { class: "form-horizontal col-md-7"} do |f| %>
          <%= f.error_notification %>
          <% if params[:year] %>
            <%= hidden_field_tag(:year, params[:year]) %>
            <%= hidden_field_tag(:month, params[:month]) %>
            <%= hidden_field_tag(:day, params[:day]) %>
          <% else -%>
            <%= hidden_field_tag(:year, @row.stored_at.year) %>
            <%= hidden_field_tag(:month, @row.stored_at.month) %>
            <%= hidden_field_tag(:day, @row.stored_at.day) %>
          <% end -%>
          <fieldset>
            <div class="form-group">
              <%= f.label :project_id, class: "col-lg-4" %>
              <%= f.association :project, collection: @clients, label: false, wrapper_html: { class:"col-lg-8" }, input_html: { class: "form-control", data: {
                    dynamic_selectable_url: dynamic_select_row_tasks_path(':project_id',@row.stored_at),
                    dynamic_selectable_target: '#row_task_id'
                  }}, include_blank: false, as: :grouped_select, group_method: :person_projects
              %>
            </div>
            <div class="form-group">
              <%= f.label :task_id, class: "col-lg-4" %>
              <%= f.association :task, collection: @row.project.available_tasks , label: false, wrapper_html: { class:"col-lg-8" }, input_html: { class: "form-control"}, include_blank: false
              %>
            </div>
          </fieldset>

          <div class="form-actions text-center">
            <%= f.button :submit, "Save", class: "btn btn-success", id: "dynamic_selectable_button" %>
            <%= link_to "Cancel", request.referer, class: "btn btn-default" %>
          </div>
        <% end %>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->         
  </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->
